@import './common.less';

#form-container {
  padding: 0 90px;
  max-width: 1000px;
  width: 100%;
  .form {
    margin: auto;
    width: 100%;
    .column {
      .form-element {
        input[type='email']::-webkit-input-placeholder  {
          -webkit-transition: opacity 0.2s ease-in; 
          transition: opacity 0.2s ease-in;
          color: @gray;
        }
        input[type='email']:focus::-webkit-input-placeholder  {
          opacity: 0;
        }

        input[type='text']::-webkit-input-placeholder  {
          -webkit-transition: opacity 0.2s ease-in; 
          transition: opacity 0.2s ease-in;
          color: @gray;
        }
        input[type='text']:focus::-webkit-input-placeholder  {
          opacity: 0;
        }

        input[type='textarea']::-webkit-input-placeholder  {
          -webkit-transition: opacity 0.2s ease-in; 
          transition: opacity 0.2s ease-in;
          color: @gray;
        }
        input[type='textarea']:focus::-webkit-input-placeholder  {
          opacity: 0;
        }
      }
    }
    .bi-column {
      width: 100%;
      .form-element {
        width: 48%;
        display: inline-block;
        margin-right: 20px;
        &:last-child {
          margin-right: 0;
        }
        .form-label {
          font-weight: bold;
          display: block;
        }
        input {
          width: 100%;
          height: 35px;
          &:focus {
            border: 1px solid @pink;
          }
        }
      }
    }
    .single-column {
      width: 100%;
      .form-element {
        width: 100%;
        .form-label {
          margin-top: 10px;
          font-weight: bold;
          display: block;
        }
        textarea {
          width: 100%;
          height: 100px;
          &:focus {
            border: 1px solid @pink;
          }
        }
      }
    }
    .submit-btn {
      cursor: pointer;
      background-color: @pink;
      padding: 5px 15px;
      border-radius: 25px;
      color: @white;
      transition: .5s background-color ease;
      margin-top: 25px;
      &:hover {
        background-color: @pink-hover;
      }
    }
  }
}