@import './common.less';

#form-container {
  max-width: 1000px;
  margin: 0 auto 50px auto;
  width: 100%;
  @media (min-width: 767px) {
    padding: 0 90px;
  }
  .form {
    width: 100%;
    .column {
      .form-element {
        input[type='email']::-webkit-input-placeholder  {
          -webkit-transition: opacity 0.2s ease-in; 
          transition: opacity 0.2s ease-in;
          color: @gray;
        }
        input[type='email']:focus::-webkit-input-placeholder  {
          opacity: 0;
        }

        input[type='text']::-webkit-input-placeholder  {
          -webkit-transition: opacity 0.2s ease-in; 
          transition: opacity 0.2s ease-in;
          color: @gray;
        }
        input[type='text']:focus::-webkit-input-placeholder  {
          opacity: 0;
        }

        textarea[type='text']::-webkit-input-placeholder  {
          -webkit-transition: opacity 0.2s ease-in; 
          transition: opacity 0.2s ease-in;
          color: @gray;
        }
        textarea[type='text']:focus::-webkit-input-placeholder  {
          opacity: 0;
        }
        .form-label {
          margin: 10px 0;
          font-weight: bold;
          display: block;
          font-size: 14px
        }
        .error {
          position: absolute;
          color: @pink;
        }
      }
    }
    .bi-column {
      width: 100%;
      .form-element {
        width: 100%;
        display: block;
        @media(min-width: 767px) {
          display: inline-block;
          margin-right: 20px;
          width: 48%;

        }
        &:last-child {
          margin-right: 0;
        }
        input {
          width: 100%;
          height: 50px;
          @media (max-width: 767px) {
            border: 1px solid @gray;
          }
          &:focus {
            border: 1px solid @pink;
          }
        }
      }
    }
    .single-column {
      width: 100%;
      margin-top: 60px;
      .form-element {
        width: 100%;
        textarea {
          width: 100%;
          height: 100px;
          border: 1px solid @gray;
          &:focus {
            border: 1px solid @pink;
          }
        }
      }
    }
    .submit-btn {
      cursor: pointer;
      background-color: @pink;
      padding: 15px 50px;
      color: @white;
      transition: .5s background-color ease;
      margin-top: 25px;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
      &:hover {
        background-color: @pink-hover;
      }
    }
  }
}