@pink: #EF476F;
@import './common.less';

.hero-container {
  .panel-container {
    height: 95vh;
    display: flex;
    align-items: center;
    .panel-copy {
      padding: 90px;
      margin: auto;
      max-width: 1000px;
      margin: auto;
      .panel-subheading {
        font-size: 18px;
      }
    }
  }
  .arrow-container {
    text-align: center;
    .arrow {
      position: relative;
      bottom: 90px;
      width: 0; 
      height: 0; 
      border-left: 20px solid transparent;
      border-right: 20px solid transparent; 
      border-top: 20px solid @pink;
      cursor: pointer;
    }
  }
}