.menu-container {
  height: 50px;
  position: relative;
  .pull-left {
    text-align: left;
  }
  .pull-right {
    text-align: right;
    .inline-list {
      list-style: none;
      li {
        display: inline;
        padding: 0 15px;
      }
    }
  }
}
