@pink: #EF476F;

.viewer {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
  
.viewer-main {
  position:fixed;
  background: white;
  height: 100%;
  top: 0;
  right: 0;
  padding: 60px;
  width: 800px;
  // transform: translate(-50%,-50%);
  .viewer-body {
    h1 {
      margin-bottom: 25px;
      font-size: 30px;
    }
    img {
      width: 400px;
    }
  }
  .close-viewer {
    cursor: pointer;
    text-align: right;
    font-size: 18px;
    &:hover {
      color: @pink;
    }
  }
}
  
.display-block {
  display: block;
}

.display-none {
  display: none
}